body {
  font-family: 'Open Sans', sans-serif;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 80%;
  margin: 0 auto;
}

#main_header {
  background: #ffffff;
  padding: 2.5rem 0;
}

#logo {
  float: left;
  color: #22292e;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 2.5rem;
}

nav ul li a {
  color: #22292e;
  text-decoration: none;
}

#podcast_show #show_banner {
  background: #22292e;
  text-align: center;
  padding: 5rem 0;
}

#podcast_show #show_banner h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 .5rem 0;
}

#podcast_show #show_banner .description {
  width: 75%;
  line-height: 1.75;
  margin: 0 auto 2rem auto;
  color: #ffffff;
}

#podcast_show #show_banner .subscribe_link {
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  display: inline;
  background: #d2674e;
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  text-decoration: none;
}

#podcast_show #show_banner .subscribe_link:hover {
  background: #bd4b30;
}

#podcast_show #breadcrumb {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #e4e8eb;
  font-weight: 700;
  font-size: .7rem;
}

#podcast_show #breadcrumb a {
  text-decoration: none;
  color: #22292e;
}

#podcast_show #breadcrumb span {
  margin: 0 .5rem;
}

#podcast_show #episodes {
  padding: 3rem 0;
}

#podcast_show #episodes ul {
  list-style: none;
  padding-left: 0;
}

#podcast_show #episodes ul li {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e4e8eb;
  margin-bottom: 2rem;
}

#podcast_show #episodes ul li:last-child {
  border-bottom: none;
}

#podcast_show #episodes ul li .episode_thumbnail {
  width: 22%;
  float: left;
}

#podcast_show #episodes ul li .episode_thumbnail img {
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}

#podcast_show #episodes ul li .episode_overview {
  width: 76.5%;
  float: left;
  margin-left: -3.5%;
}

#podcast_show #episodes ul li .episode_overview h2 a {
  color: #22292e;
  text-decoration: none;
}

#podcast_show #episodes ul li .episode_overview .description {
  color: #586a77;
}

#podcast_show #episode_content {
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e4e8eb;
}

#podcast_show #episode_content .current_episode_thumbnail {
  display: block;
  margin: 0 auto 2rem auto;
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}

#podcast_show #episode_content .current_episode_thumbnail .wrapper_skinny {
  width: 80%;
  margin: 0 auto;
}

#podcast_show #episode_content h2 {
  font-size: 1.5rem;
  text-align: center;
}

#podcast_show #episode_content .description {
  text-align: center;
  font-size: .9rem;
  line-height: 1.7;
  color: #586a77;
}

.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 1rem 0 5rem 0;
}

.pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
  padding: 0.75rem 1rem;
  margin: 0 .25rem;
  border-radius: .15rem;
  line-height: 1.25;
  text-decoration: none;
  background: #EDEFF5;
  font-weight: 700;
  font-size: .7rem;
  color: #22292e;
}

.pagination a:hover, .pagination .previous_page:hover, .pagination .current:hover, .pagination .next_page:hover {
  background: #d2674e;
  color: #ffffff;
}

.pagination .current {
  background: #d2674e;
  color: #ffffff;
}

.pagination .disable {
  color: #C0C0C0;
}

.pagination .disable:hover {
  color: #C0C0C0;
  background: #EDEFF5;
}
