body {
  font-family: 'Open Sans', sans-serif;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 80%;
  margin: 0 auto;
}

#main_header {
  background: #ffffff;
  padding: 2.5rem 0;
}

#logo {
  float: left;
  color: #22292e;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 2.5rem;
}

nav ul li a {
  color: #22292e;
  text-decoration: none;
}

#banner {
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
}

#banner h1 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 8rem 0;
}

.sign_up {
  background-image: url(../images/b.jpg);
}

.field {
  margin: 5rem 0 1.5rem 0;
}

input[type="email"], input[type="password"] {
  width: 90%;
  height: 2.5rem;
  padding: .25rem 1rem;
  background: #EDEFF5;
  border: 1px solid darken #EDEFF5, 5%;
  border-radius: .35rem;
  margin-top: .5rem;
}

#form {
  padding: 0 0 5rem 0;
}

.button {
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline;
  min-width: 8.5rem;
}

.button:hover {
  background: #c74f33;
}

.button_highlight {
  background: #d2674e;
  transition: background .4s ease-in-out;
}

.button_block {
  display: block;
}
